body {
    background-color: darkslategrey;
    margin: 0;
    box-sizing: border-box;
}

/* ********************************************** navegador *************************************************  */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgb(17, 17, 17);

}
.logo{
    display: flex;
    width: 8%;
    
}

/* ************************************************** fotos menu *********************************************************  */
.foto1 {
    width: 20%;
}

.foto_vestir {
    width: 45%;
}

.mapa h3 {
    display: block;
    position: relative;
    left: 130%;
    block-size: 15%;
}

/* ************************************************** navegador fotos ********************************************************************  */

/* *************************************** contacto ***************************************  */
.Formulario {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(244, 250, 251);
    padding-left: 30px;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.texto_mensaje {
    position: relative;
    left: 29px;
}

.colocar_telefono {
    position: relative;
}

.colocar_email {
    position: relative;
    left: 111px;
}

/* *************************************** Vestir ***************************************  */

.foto_remera_blanca{
    position: relative;
    width: 250px;


}
.foto_remera_negra{
    padding: 2px;
    position: relative;
    left: 0%;
    width: 250px;

}

/* *************************************** FOOTER ********************************************** */
.footer{
    display:flex;
    box-sizing:;
    background-color: black; 
    padding-top:4%;

}
.footer p {
        padding-left: 12%;
        color:#333;

}
.footer .copyright {
    padding-left:12%;
    color: blanchedalmond;
    display: flex;
    text-align: center;
}
.icono_link{
    padding-left: 1px;
}
.parrafo_redes{
    color: white;
display:flex;
margin-top: 1px;

}
